<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title of web page -->
    <title>Home page</title>
    <!-- Meta tags for character and viewport sets and scaling-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
</head>
<body>
    <!-- #wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header><u>Javascript Quiz Game</u></header>
        <!-- p section -->
        <p>Please enjoy this quiz and aim for full marks</p>
        <!-- Main content section -->
        <div id="contents">
            <!-- #htp -->
            <span id="htp"><u>How to Play</u></span>
            <span>This is a 10 question multiple choice quiz</span>
            <hr>
            <span>Please choose 1 answer only on every question</span>
            <hr>
            <span>Once you have chosen your answer click next question to move on</span>
            <hr>

        </div>












    </div>
</body>
</html>