<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title of web page -->
    <title>Quiz page</title>
    <!-- Meta tags for character and viewport sets and scaling-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
    <title>Home Page</title>
    <style>
        #wrapper {
            width: 100%;
            height: 1024px;
        }
        header {
            text-align: center;
        }
        #quiz {
            background-color: aliceblue;
            width: 600px;
            height: 300px;
        }
    </style>
</head>
<body>
    <!-- wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header><u>Quiz</u></header>
        <!-- To hold the questions -->
        <div id="quiz"></div>
        <!-- To submit the quiz -->
        <button id="submit">Submit Quiz</button>
        <!-- To display the results -->
        <div id="results"></div>
    <!-- end of wrapper -->
    </div>
      <!-- link to javascript file-->
    <script src="../Javascript/script.js"></script>
</body>
</html>